h1 {
  text-align: center;
  margin: 20px 0;
  color: #444;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

