<nav class="navbar navbar-expand-lg bg-danger navbar-dark">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/home">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWolw3nANf3zOcOKHo74SmN2AXM5mEOBAihodM4pjSXDkyD3gnK97FLI1v2afsF54_ivI&usqp=CAU"
        height="30"
        alt="Logo AKÍ"
        loading="lazy"
      />
      AKÍ
    </a>

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarAki"
      aria-controls="navbarAki"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarAki">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos" routerLinkActive="active">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tienda" routerLinkActive="active">Tienda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactanos" routerLinkActive="active">Contáctanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/crud" routerLinkActive="active">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>