<app-nav></app-nav>
<br><br><br>
<div class="container">
    <div class="text">
        Contactanos
    </div>
    <form action="#">
        <div class="form-row">
            <div class="input-data">
                <input type="text" required>
                <div class="underline"></div>
                <label for="">Nombre</label>
            </div>
            <div class="input-data">
                <input type="text" required>
                <div class="underline"></div>
                <label for="">Apellido</label>   
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
                <input type="text" required>
                <div class="underline"></div>
                <label for="">Email</label>
            </div>
            <div class="input-data">
                <input type="text" required>
                <div class="underline"></div>
                <label for="">Teléfomo</label>   
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
                <input type="text" required>
                <div class="underline"></div>
                <label for="">Escribe tu mensajes</label>
            </div>
            <div class="form-row submit-btn">
                <div class="input-data">
                    <input type="submit" value="Enviar" style="background-color: aqua;">
                </div>
            </div>
        </div>
    </form>
</div>
<br><br><br>
<app-foot></app-foot>