<div class="container mt-4">
  <div class="row">
    <!-- Producto 1 -->
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://tse4.mm.bing.net/th/id/OIP.HP4yohvZ0ROiY_bmKl63SgHaHa?pid=ImgDetMain" class="card-img-top" alt="Arroz Súper Extra">
        <div class="card-body">
          <h5 class="card-title">Arroz Súper Extra</h5>
          <p class="card-text">Presentación 5kg – Calidad garantizada.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>

    <!-- Producto 2 -->
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://tse3.mm.bing.net/th/id/OIP.YIBaEIuR8n5S7tz_71h-xwHaHa?pid=ImgDetMain" class="card-img-top" alt="Aceite de Girasol">
        <div class="card-body">
          <h5 class="card-title">Aceite de Girasol</h5>
          <p class="card-text">Botella 1L – Ideal para tus comidas.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>

    <!-- Producto 3 -->
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://tse1.mm.bing.net/th/id/OIP.wjChC9dxzBoRVgbeLSfDkgHaHa?pid=ImgDetMain" class="card-img-top" alt="Leche Entera">
        <div class="card-body">
          <h5 class="card-title">Leche Entera</h5>
          <p class="card-text">Cartón 1L – Fresca y nutritiva.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
  </div>
</div>