<div id="carouselAki" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="https://tse4.mm.bing.net/th/id/OIP.HP4yohvZ0ROiY_bmKl63SgHaHa?rs=1&pid=ImgDetMain&o=7&rm=3" class="d-block w-100" alt="Arroz Súper Extra"/>
      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded">
        <h5>Arroz Súper Extra</h5>
        <p>Presentación 5kg – Calidad garantizada</p>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="5000">
      <img src="https://tse3.mm.bing.net/th/id/OIP.YIBaEIuR8n5S7tz_71h-xwHaHa?rs=1&pid=ImgDetMain&o=7&rm=3" class="d-block w-100" alt="Aceite de Girasol"/>
      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded">
        <h5>Aceite de Girasol</h5>
        <p>Botella 1L – Ideal para tus comidas</p>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="5000">
      <img src="https://tse1.mm.bing.net/th/id/OIP.wjChC9dxzBoRVgbeLSfDkgHaHa?rs=1&pid=ImgDetMain&o=7&rm=3" class="d-block w-100" alt="Leche Entera"/>
      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded">
        <h5>Leche</h5>
        <p>Cartón 1L – Fresca y nutritiva</p>
      </div>
    </div>
  </div>

  <!-- Controles -->
  <button class="carousel-control-prev custom-arrow" type="button" data-bs-target="#carouselAki" data-bs-slide="prev">
    <i class="fas fa-chevron-left fa-3x text-warning"></i>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next custom-arrow" type="button" data-bs-target="#carouselAki" data-bs-slide="next">
    <i class="fas fa-chevron-right fa-3x text-warning"></i>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>